.items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemName {
    font-weight: bold;
    color: #5a104d;
}

.itemDetails {
    font-size: 14px;
    color: #5a104d;
}